<h2>Carrusel de Productos</h2>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div *ngFor="let productChunk of productChunks; let i = index" [class.active]="i === 0" class="carousel-item"
            data-bs-interval="10000">
            <div class="row">
                <div *ngFor="let product of productChunk" class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <app-product-card [product]="product"></app-product-card>
                    <app-add-to-cart-button [product]="product"></app-add-to-cart-button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>