<div class="list">
    @for(product of products; track product.name){
    <div class="card" style="width: 18rem;">
        <img [src]="product.image" class="card-img-top" alt="imagen {{product.name}}">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p>{{product.price | currency}}</p>
            <p class="card-text">{{product.description}}</p>
            <a href="#" class="btn btn-primary">Agregar al carrito</a>
        </div>
    </div>
    } @empty{
    <p>No hay productos que mostrar</p>
    }
</div>